@import "fonts.css";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
}

:root {

    --color-dark-background: #010101;
    --color-dark-text: #dadada;


    --color-background: #202020;
    --color-text: #dadada;

    --color-table-header-background: #676767;
    --color-table-header-text: #dadada;
    --color-table-row-odd-background: #202020;
    --color-table-row-odd-text: #dadada;
    --color-table-row-even-background: #3a3a3a;
    --color-table-row-even-text: #dadada;


    --color-dark: #010101;
    --color-light: #dadada;

    --color-tac_ops: #6d7d72;
    --color-strategic_ploy: #515a5c;
    --color-tactical_ploy: #010101;


    /* --color-background: #eeeeee;
    --color-text: #000000;
    --color-table-header-background: #b4bbb4;
    --color-table-header-text: #202020;
    --color-table-row-odd-background: #eeeeee;
    --color-table-row-odd-text: #202020;
    --color-table-row-even-background: #dee2e1;
    --color-table-row-even-text: #202020; */

    --color-orange: #c54c21;

    --img-table-inv: 0.9;
}


/* Tools */
@media screen and (max-width: 550px) {
    .hideMobile {
        display: none;
    }
}

@media screen and (min-width: 550px) {
    .showMobile {
        display: none;
    }
}

.rowMobile {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 550px) {
    .rowMobile {
        flex-direction: row;
    }
}

.columnMobile {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 550px) {
    .columnMobile {
        display: flex;
        flex-direction: column;
    }
}

.ct {
    text-align: center;
}


body {
    background-color: var(--color-background);
    color: var(--color-text);
}

#content {
    padding: 16px;
    max-width: 1000px;
    margin: auto;
}

@media screen and (max-width: 550px) {
    #content {
        min-width: 350px;
    }
}

#content>* {
    margin-bottom: 24px;
}


/* Killteam */
#killteam .archetype {
    font: normal 1.4em 'Impact';
    color: var(--color-light);
    text-transform: uppercase;

    background-color: var(--color-orange);
    padding: 4px 8px;
}

#killteam .killteam-container {
    display: flex;
    column-gap: 16px;
    background-color: var(--color-dark);
    padding: 8px 16px;
}

#killteam .killteam-container>* {
    min-width: 50%;
}

#killteam .killteam-container>*>*>*>li {
    margin-bottom: 24px;
}

#killteam .killteam-container ul {
    list-style-image: url("./RedTriangle.png");
}

#killteam .killteam-container ul ul {
    list-style-image: url("./RedCircle.png");
}

#killteam .killteam-container ul ul ul {
    list-style-image: url("./RedEmptyCircle.png");
}

#killteam .killteam-container ul ul ul ul {
    list-style-image: url("./RedEmptyCircleSmall.png");
}


/* Ploys */
#ploys {
    display: flex;
    column-gap: 16px;
    padding: 8px 16px;
}
#ploys>* {
    min-width: 50%;
}


/* Datacards */

#datacards .datacard {
    border: 2px solid var(--color-orange);
    background-color: var(--color-background);

    width: 100%;
    height: fit-content;
    padding: 0 16px;

    margin-top: 16px;
    margin-bottom: 32px;
}

#datacards .datacard>* {
    margin-bottom: 8px;
}

#datacards .datacard .datacard-header {
    margin-top: -16px;
}

#datacards .datacard .datacard-header-left {
    border: 2px solid var(--color-orange);
    background-color: var(--color-dark);

    width: 66%;
    padding: 4px 8px;
}

#datacards .datacard .datacard-header-left>* {
    color: var(--color-light);
}

#datacards .datacard .datacard-header-right {
    border-collapse: collapse;
    border-bottom: 2px solid var(--color-orange);
    border-top: 2px solid var(--color-orange);

    flex-grow: 1;
}

@media screen and (max-width: 550px) {
    #datacards .datacard .datacard-header-left {
        width: 100%;
    }
}

#datacards .datacard .stats-table>:nth-child(2n-1) td {
    /* Stats table header row */
    font: normal 1.4em 'Impact';
    color: var(--color-light);
    text-align: center;

    background-color: var(--color-orange);
}

#datacards .datacard .stats-table>:nth-child(2n) td {
    /* Stats table body row */
    font: normal 1.2em 'Roboto';
    text-align: center;
}


#datacards .datacard .datacard-abilities-tables {
    display: flex;
    column-gap: 16px;
}


/* Table */
.table {
    width: 100%;

    border-collapse: collapse;
    height: fit-content;
}

.table>:first-child {
    /* Table header row */
    color: var(--color-table-header-text);
    background-color: var(--color-table-header-background);
}

.table>:nth-child(2n+2) {
    /* Table odd row */
    background-color: var(--color-table-row-odd-background);
    color: var(--color-table-row-odd-text);
}

.table>:nth-child(2n+3) {
    /* Table even row */
    background-color: var(--color-table-row-even-background);
    color: var(--color-table-row-even-text);
}

.table>:first-child td {
    /* Table header cell */
    font: normal 1em 'Impact';
    text-transform: uppercase;
}

.table td {
    /* Table any cell */
    font: normal 0.9em 'Roboto';
    padding: 3px 6px;
}


/* List */
ul li p {
    margin-bottom: 4px;
}

ul {
    list-style-image: url("./RedCircle.png");
    padding-inline-start: 20px;
}

ul ul {
    list-style-image: url("./RedEmptyCircle.png");
}

ul ul ul {
    list-style-image: url("./RedEmptyCircleSmall.png");
}


/* Content */
.content>* {
    margin-bottom: 24px;
}


/* Card */
.card>:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card>:first-child>* {
    font: normal 1.2em 'Roboto';
    color: var(--color-light);
    text-transform: uppercase;
    margin: 3px 6px
}

.card .color-tactical_ploy-header {
    background-color: var(--color-tactical_ploy);
}

.card .strategic_ploy-header {
    background-color: var(--color-strategic_ploy);
}

.card .tactical_ploy-header {
    background-color: var(--color-tactical_ploy);
}


/* Colors */
#content .dark-background {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
}



/* Text */
p {
    font: normal 1em 'Roboto';
    padding: 0;
    margin-bottom: 16px;
}

h1 {
    font: normal 2em 'Impact';
    color: var(--color-orange);
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

h2 {
    font: normal 1.7em 'Impact';
    color: var(--color-orange);
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

h3 {
    font: normal 1.4em 'Impact';
    color: var(--color-orange);
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.desc-text {
    font: italic 0.9em 'Roboto';
}

.operative-text {
    font-family: 'Impact';
    text-transform: uppercase;
}

.killteam-text {
    font-family: 'Impact';
    color: var(--color-orange);
    text-transform: uppercase;
}

.killteam-text:after {
    content: url("./fskull.png");
}



/* Images */
.f1 {
    vertical-align: middle;
    content: url(./f1.png);
}

.f2 {
    vertical-align: middle;
    content: url(./f2.png);
}

.f3 {
    vertical-align: middle;
    content: url(./f3.png);
}

.f6 {
    vertical-align: middle;
    content: url(./f6.png);
}

.wRanged {
    filter: invert(var(--img-table-inv));
    background-image: url(./wgRanged.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.wMelee {
    filter: invert(var(--img-table-inv));
    background-image: url(./wgMelee.png);
    background-repeat: no-repeat;
    background-position: center center;
}